.content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
  padding: 2%;
  height: 100vh;
}

.items{
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.dates{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.header{
  text-align: center;
}


img{
  height: 100px;
  width: 100px;
  margin: 10px;
  border: 3px solid rgb(240, 223, 127);
  cursor: pointer;

}


